nav {
width: 100%;
position: fixed;
top: 0;
background-color: #292a2a;
border-radius:0 0 20px 20px;
z-index: 9999;
}
nav .Logo{
    font-style: italic;
    margin-top: 20px;
    font-size:40px;
    font-weight: bold;
    margin-left: 50px;
}
nav .navbar {
margin-right: 50px;
float: right;
padding: 10px;
}
nav .navbar ul li {
display: inline-block;
border-radius:5px;
}
nav .navbar ul li a {
display: inline-block;
text-decoration: none;
padding: 10px 20px;
color: rgb(255, 253, 253);
}
nav .navbar ul li.active {
background-color: #3bdfdf;
border-radius:30px;
transition: 0.3s;
}
nav .navbar ul li.active a {
color: #141414;
}